body {
  background-color: antiquewhite;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: black;
  text-align: center;
  margin: 10px auto 30px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto -2px;
}

button {
  color: black;
  border: 2px solid black;
  margin: -2px;
  touch-action: manipulation;
  font-size: 24px;
  text-align: center !important;
}

.dice-image {
  position: relative;
  margin: -30px auto 0;
  height: 300px;
  width: 300px;
  animation: none;
}

@keyframes noDice {
  25% {
    transform: rotate(-60deg);
  }

  75% {
    transform: rotate(60deg);
  }
}

@keyframes rollDice {
  100% {
    transform: rotate(720deg);
  }
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dice-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-size: 50px;
  padding: 50px 50px;
  color: white;
}

#dice-btn {
  display: block;
  margin: auto;
}

select {
  color: black;
  display: block;
  height: 40px;
  width: 180px;
  font-size:18px;
  border: none;
  border-radius: 0;
  text-align: center !important;
}

.dice-select {
  border: 1px solid black;
  height: 40px;
  width: 180px;
  margin: 5px auto 30px;
}

.score-tracker {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 17px;
  width: 90vw;
  max-width: 400px;
  background-color: white;
}

h3 {
  color: black;
  font-size: 60px;
  margin: 15px 10px 0;
}

.button-up-down1,
.button-up-down5 {
  display: grid;
  height: 100px;
  width: 80px;
}

h4 {
  color: black;
  margin: 0 0 12px 0;
}

.font-size-change {
  text-align: center;
}

#font-btn-s,
#font-btn-m,
#font-btn-l {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: rgb(150, 150, 150);
  margin: 0 10px;
  padding: 8px 15px;
}

::placeholder {
  color: rgb(50, 50, 50);
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

textarea {
  color: black;
  display: block;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
}

#note {
  padding: 10px;
  font-size: 16px;
}

.author {
  color: black;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

a {
  color: black;
}

@media only screen and (max-width: 768px) {
  .dice-image {
    scale: 75%;
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    margin: 20px auto 20px
  }
}